/*
 Theme Name:   Enliven Child
 Theme URI:    http://afrijaldzuhri.com/themes/enliven-child
 Description:  Enliven Child Theme
 Author:       Afrijal Dzuhri
 Author URI:   http://afrijaldzuhri.com
 Template:     enliven
 Version:      1.0.0
*/

*{
  font-family: 'Poppins',sans-serif;
  margin: 0; padding: 0;
  max-width: 100%;
}

img {
  border: 0;
}

a {
  text-decoration: none;
  color: #3fc1c9;
  background-color: transparent;
}

header {
  max-width: 100%;
}

.row {
  margin: 0;
}

.site-content {
  padding: 0;
}

.navbar-brand {
  float: left;
  padding: 0;
}

.site-logo img {
  height: 100%;
  margin-top: 7%;
}

.normal-header {
  box-shadow: none !important;
}

.normal-header a {
  color: #FFF;
}

.site-header {
  min-height: 71px;
  z-index: 9999;
  width: 100%;
  padding: 0 25px;
  background: #8BC34A;
}

#main-nav-button{
  margin: 10px 0 10px 0;
  opacity: .8;
}

@media screen and (min-width: 991px)
.sticky-nav .main-navigation a {
    line-height: 71px;
    transition: all 0.5s ease;
    color: #FFFF;
}

.sticky-nav .main-navigation a {
    line-height: 71px;
    transition: all 0.5s ease;
    color: white;
}

@media screen and (min-width: 991px)
.sticky-nav a:hover {
  color: black;
  text-decoration: none;
}

.main-navigation a {
  font-size: 14px;
  line-height: 71px;
  color: white;
}

.sticky-nav {
    background: #8BC34A;
    color: #FFF;
}

.main-navigation a:hover {
  color: black;
  text-decoration: none;
}

.main-navigation {
  font-family: Poppins, sans-serif;
  text-transform: none;
  letter-spacing: 0;
}

.textwidget h5 {
  color: #FFF;
}

.site-info {
  background-color: #566B78;
  color: #dfdfdf;
}

.site-info a {
  color: inherit;
}

.site-info a:hover {
  color: #f9c566;
  text-decoration: none;
}

button {
  background-color: #00B8D4;
}

a.button {
  display: inline-block;
  padding: 8px 27px;
  font-weight: 500;
  opacity: .8;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,185,6,0.5);
  -moz-box-shadow: 0 5px 15px 0 rgba(0,185,6,0.5);
  box-shadow: 0 5px 15px 0 rgba(0,185,6,0.5);
  color: #0d2b3e;
  background-image: -ms-linear-gradient(-180deg,#ddf668 0,#b9e937 100%);
  background-image: -moz-linear-gradient(-180deg,#ddf668 0,#b9e937 100%);
  background-image: -o-linear-gradient(-180deg,#ddf668 0,#b9e937 100%);
  background-image: -webkit-linear-gradient(-180deg,#ddf668 0,#b9e937 100%);
  background-image: linear-gradient(-180deg,#ddf668 0,#b9e937 100%);
  -webkit-transition: opacity .5s,box-shadow .5s;
  transition: opacity .5s,box-shadow .5s;
  outline: 0;
  border: 0;
}

a.button:hover{
  text-decoration: none;
  box-shadow: 0 5px 25px 0 rgba(0,185,6,0.5);
  opacity: 1;
}

a.coba-gratis {
  font-size: 20px;
  line-height: 32px;
  display: inline-block;
  margin-top: -25px;
  padding: 11px 27px;
}


/*logo*/
.logo1 {
  height: 100%;
  width: auto;
  padding: 0px !important;
}
.logo2 {
  display: none;
}
.sticky-nav .logo2 {
  display: inline !important;
  width: auto !important;
  padding: 0px !important;
  padding-right: 10px !important;
  overflow: scroll !important;
}
.sticky-nav .logo1 {
  display: none;
}

/*numb phone*/
.phone1{
  display: none !important;
}
.sticky-nav .phone1{
  line-height: 21px;
  display: inline-block !important;
  border-left: 1px solid #b0adad;
  padding-left: 15px;
  font-size: 16px;
  font-family: sans-serif;
  color: #20a286;
}


footer {
  max-width: 100%;
}
/* Navbar
===============
*/

/* Footer
===============
*/

footer {
  max-width: 100%;
}

footer div.wrapper {
  margin-top: 3%;
}

footer div label {
  color: #abedd8;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  float: left;
  padding-left: 19px;
}

footer div ul {
  list-style: none;
  padding: 0;
}

footer div ul li {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: left;
}

footer div ul li.sub-menu {
  float: none;
}

footer div ul li a{
  color: #dfdfdf;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

footer div ul li.contact {
  font-size: 15px;
  margin: 0;
  height: 0;
}

footer div ul li label {
  display: inline;
  float: none;
}

footer div ul li i {
  padding-bottom: 5px;
}

footer div ul li i.sm {
  padding-right: 15px;
  font-size: 20px;
}

/* / Footer
===============
*/

/* Section 1*/
section.section-1 {
  background: #8BC34A;
  width: 100%;
}
/* Section 1*/

/* Section 2 */
section.section-2 {
  background: #33691E;
  text-align: center;
  min-height: 600px;
  max-width: 100%;
}

section.section-2 div.wrapper h2 {
  color: #fff;
  margin-top: 60px;
  font-weight: 100;
}

section.section-2 div.wrapper p {
  color: #C5E1A5;
}

section.section-2 div div div  a {
  color: #fff;
  display: block;
}

section.section-2 div div div a:hover {
  color: #c5e1a5;
  text-decoration: none;
}
/* Section 2 */

/* Section 3 */
section.section-3 {
  text-align: center;
  min-height: 650px;
  padding-top: 15px;
  background: #fff;
  max-width: 100%;
}

section.section-3 div h1.headline {
  color: #0d2b3e;
  line-height: 44px;
  font-weight: 300;
}

section.section-3 div p.tagline {
  padding-right: 12%;
  font-size: 16px;
  color: #567862;
  line-height: 27px;
  margin-top: 5px;
  margin-bottom: 56px;
  font-family: 'Lato',sans-serif;
  padding-left: 12%;
}

section.section-3 div div.kiri {
  margin-top: 15px;
  text-align: left;
  position: relative;
  float: left;
}

section.section-3 div div h3 {
  font-size: 21px;
  color: #0d2b3e;
  line-height: 34px;
  font-weight: 300;
  padding-left: 20px
}

section.section-3 div div ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  max-width: 359px;
}

section.section-3 div div ul li {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #e4e4e4;
  color: #566b78;
  line-height: 22px;
  font-family: 'Lato',sans-serif;
}

section.section-3 div div ul li img {
  float: right;
}

section.section-3 div div.kanan {
  margin-top: 34px;
  position: relative;
  float: right;
}
/* Section 3 */

section.section-4 {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  max-width: 100%;
}

section.section-4 div img {
  width: 100%;
}

section.section-5 {
  text-align: center;
  background: #fff;
  max-width: 100%;
  padding-top: 5%;
}

section.section-5 div.wrapper {
  max-width: 100%;
  margin: 0 10%;
}

section.section-5 div div h1 {
  font-size: 27px;
  color: #0d2b3e;
  line-height: 44px;
  font-weight: 300;
}

section.section-5 div div p {
  font-size: 16px;
  color: #566b78;
  line-height: 27px;
  margin: 15px 0;
  font-family: 'Lato',sans-serif;
}

section.section-5 div div.kiri {
  position: relative;
  float: left;
}

section.section-5 div div.kanan {
  position: relative;
  float: right;
}

section.section-5 div div div.text-box {
  text-align: left;
}

section.section-5 div div div h3 {
  font-weight: normal;
}

section.section-6 {
  background-image: url('http://localhost/noota/wp-content/uploads/2017/01/img-49.png');
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
}

section.section-6 div.wrapper {
  margin-top: 30%;
}

section.section-6 div span {
  background-color: rgba(0,0,0,0.8);
  border-radius: 8px;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  width: 50px;
  margin: 0;
  display: block;
  text-align: center;
  line-height: 20px;
  margin-right: 9px;
  margin-top: -0;
  padding-top: 2px;
  text-transform: uppercase;
}

section.section-6 div h1 {
  color: #fff;
  font-weight: 500;
  line-height: 40px;
  margin-top: 0;
  font-size: 1.5em;
}

section.section-6 div p {
  color: #fff;
  margin-top: 0;
  font-size: 16px;
}

section.section-6 div a.button{
  font-size: 15px;
  font-weight: 500;
  padding: 8px 42px;
  margin-top: 20px;
  margin-bottom: 80px;
}

section.section-6 div a.button:hover {
  text-decoration: none;
  box-shadow: 0 5px 25px 0 rgba(0,185,6,0.5);
  opacity: 1;
}

section.section-7 {
  text-align: center;
  min-height: 650px;
  background: #fff;
  max-width: 100%;
}

section.section-7 div.wrapper {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
  margin-top: 72px;
}

section.section-7 div span {
  background-color: rgba(0,0,0,0.8);
  border-radius: 8px;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  width: 50px;
  margin: 0;
  display: inline;
  text-align: center;
  line-height: 20px;
  margin-right: 9px;
  margin-top: 0;
  padding: 2px 5px;
}

section.section-7 div h2 {
  margin-bottom: 11px;
  font-weight: 300;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-weight: normal;
}

section.section-7 div h2 b {
  font-weight: 500;
}

section.section-7 div p {
  color: #566b78;
  font-size: 16px;
  margin: 15px auto 35px;
  max-width: 980px;
  width: 100%;
}

section.section-8 {
  background-image: none;
  min-height: 700px;
  position: relative;
  padding-top: 50px;
  background: #fff;
  max-width: 100%;
}

section.section-8 div.wrapper {
  position: relative;
  margin: 0 auto;
}

section.section-8 div.col-lg-5 {

}

section.section-8 div img.owner {
  width: 100%;
  max-width: 100%;
}

section.section-8 div.col-lg-5:nth-child(1){
  margin-left: 8%;
}

section.section-8 div div.box-text {
  background: #fff;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
}

section.section-8 div div img.logo {
  margin-top:30px;
  min-height: 86px;
}

section.section-8 div div span {
  font-weight: 400;
  font-size: 18px;
  color: #0d2b3e;
  line-height: 29px;
  display: block;
  margin-top: 10px;
}

section.section-8 div div p {
  font-weight: 400;
  font-size: 16px;
  color: #566b78;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 22px;
  font-family: 'Lato',sans-serif;
  min-height: 100px;
}

section.section-8 div div a.button.custom {
  margin-top: 25px;
  padding-bottom: 10px;
}

section.section-9 {
  text-align: center;
  min-height: 600px;
  background: #fff;
  max-width: 100%;
}

section.section-9 div.wrapper {
  padding-top: 35px;
  max-width: 1085px;
}

section.section-9 div h1 {
  font-size: 28px;
  color: #0d2b3e;
  line-height: 46px;
  font-weight: 300;
}

section.section-9 div p {
  font-size: 16px;
  color: #566b78;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 42px;
  font-family: 'Lato',sans-serif;
  min-height: 88px;
}

section.section-9 div img.logo {
  min-height: 90px;
}

section.section-9 div div ul {
  width: 100%;
  display: block;
  list-style: none;
  max-width: 944px;
  padding: 16px 0;
  margin: 0 auto 45px;
  min-height: 39px;

}

section.section-9 div div ul li {
  max-width: 142px;
  width: 100%;
  margin-right: 58.5px;
  float: left;
  display: inline-block;
  height: 100%;
  text-align: center;
}

section.section-10 {
  background-image: url(http://localhost/noota/wp-content/uploads/2017/01/img-40.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 450px;
  text-align: center;
  max-width: 100%;
}

section.section-10 div h1 {
  margin-top: 6%;
  font-size: 28px;
  color: #fff;
  line-height: 46px;
  font-weight: 400;
}

section.section-10 div p {
  font-size: 16px;
  color: #C5E1A5;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 40px;
  font-family: 'Lato',sans-serif;
}

section.section-10 div h3 {
  color: #fff;
  font-size: 22px;
  line-height: 37px;
  margin-bottom: 0;
  font-weight: 400;
}

section.section-10 div a {
  padding: 11px 0;
  width: 253px;
  font-size: 20px;
}

section.section-10 div i {
  margin: 0;
}

section.section-10 div h4 {
  color: #fff;
}



/* Responsive */
@media (max-width: 767px) {
  .fa-2x {
    font-size: 24px;
    margin-top: 31px;
  }

  /* Section 1*/
    section.section-1 {

    }

    section.section-1 div.images img {

    }

    section.section-1 div.text {
      position: relative;
      float: left;
    }
  /* Section 1*/

  /* Section 2*/
  section.section-2 div div.rounded-icon {
    width: 53%;
    margin-left: 26%;
    margin-top: 60px;
  }

  section.section-2 div div.col-xs-6 {
    display: block;
    list-style: none;
    min-height: 220px;
  }

  section.section-2 div div div div.box-icon {
    margin-bottom: 23px;
  }
  /* Section 2 */

  /* Section 5 */
  section.section-5 div div div div.row {
    margin-bottom: 5%;
  }
  /* Section 5 */


}

@media (min-width: 768px) and (max-width: 991px) /* Small  */ {
  .fa-2x {
    font-size: 24px;
    margin-top: 21px;
  }

  /* Section 2*/
  section.section-2 div div.rounded-icon {
    width: 90%;
    margin-left: 9%;
    margin-top: 60px;
  }

  section.section-2 div div.col-sm-3 {
    display: block;
    list-style: none;
    min-height: 215px;
    max-width: 19%;
    margin-right: 35px;
  }

  section.section-2 div div div div.box-icon {
    width: 130.21px;
    margin-bottom: 23px;
    margin-left: auto;
  }
  /* Section 2 */

  /* Section 4 */
  section.section-4 div img {
    width: 80%;
  }
  /* Section 4 */

  /* Section 5 */
  section.section-5 div div div div.row {
    margin-bottom: 5%;
  }
  /* Section 5 */

}

@media (min-width: 992px) and (max-width: 1199px) /* Medium */ {
  .fa-2x {
    font-size: 24px;
    margin-top: 21px;
  }

  /* Section 2*/
  section.section-2 div div.rounded-icon {
    width: 81%;
    margin-left: 14%;
    margin-top: 60px;
  }

  section.section-2 div div.col-md-3 {
    display: block;
    list-style: none;
    min-height: 265px;
    max-width: 19%;
    margin-right: 35px;
  }

  section.section-2 div div div div.box-icon {
    width: 130.21px;
    height: 130.21px;
    margin-bottom: 23px;
    margin-left: auto;
  }
  /* Section 2 */

  /* Section 4 */
  /*section.section-4 div img {
    width: 70%;
    margin-left: 18%;
  }*/

  section.section-4 {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    max-width: 100%;
  }

  section.section-4 div img {
    width: 100%;
  }
  /* Section 4 */

  /* Section 5 */
  section.section-5 div div div div.row {
    margin-bottom: 5%;
  }
  /* Section 5 */

}

@media (min-width: 1200px) {
  .fa-2x {
    font-size: 24px;
    margin-top: 21px;
  }

  /* Section 2*/
  section.section-2 div div.rounded-icon {
    width: 100%;
    display: block;
    list-style: none;
    max-width: 900px;
    padding: 53px 0 75px;
    margin-left: 19%;
    min-height: 400px;
  }

  section.section-2 div div div.col-lg-2 {
    max-width: 139px;
    margin-right: 86px;
    float: left;
    display: inline-block;
    height: 176px;
    text-align: center;
    color: #eb7f00;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 44px;
  }

  section.section-2 div div div div.box-icon {
    width: 130.21px;
    height: 130.21px;
    margin-bottom: 23px;
    margin-left: auto;
  }
  /* Section 2 */

  /* Section 3*/
  section.section-3 div div.kiri {
    margin-top: 15px;
    text-align: left;
    position: relative;
    float: left;
    margin-left: 55px;
  }

  section.section-3 div div.kanan {
    margin-top: 34px;
    position: relative;
    float: right;
    margin-right: 1px;
  }
  /* Section 3 */

  /* Section 4 */
  section.section-4 {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    max-width: 100%;
  }

  section.section-4 div img {
    width: 100%;
  }
  /* Section 4 */

  /* Section 5 */
section.section-5 {

}
  /* Section 5 */
}
